<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- IMPORTS CSS/SCRIPTS -->
<head layout:include="fragments/head"> </head>

<body class="#f5f5f5 grey lighten-4">

<!-- CABEÇARIO -->
<header th:replace="fragments/header :: header"></header>

<div layout:include="fragments/menu"></div>

<!-- CONTEÚDO DINÂMICO -->
<section layout:fragment="conteudo">

</section>

<!-- RODAPÉ -->
<footer th:replace="fragments/footer :: footer"></footer>

<!--  Scripts-->
<div layout:include="fragments/scripts"></div>
</body>
</html>