<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/layout/layoutPadrao">

<head>
<title th:text="${codigo == null ? 'Cadastro de Pessoas' : 'Edição de Pessoas'}">Título</title>
</head>

<section layout:fragment="conteudo">
	<div th:include="/admin/messages/mensagemInfo"></div>
    <div th:include="/admin/messages/mensagemErro"></div>

	<div class="row">
		<div class="col s12	 m12">
			<h5 th:text="${codigo == null ? 'Cadastro de Pessoas' : 'Edição de Pessoas'}">Cadastro de Pessoa</h5>
		</div>
	</div>

	<div class="row">
		<div class="col s12	 m12">
			<div class="breadcrumb-barra">
				<div class="card ">
					<div class="row">
						<a th:href="@{/admin/index}" class="breadcrumb">Painel de Controle</a> <a
							th:href="@{/condominio/pessoa}" class="breadcrumb">Pessoa</a> <a
							th:href="@{/condominio/pessoa/novo}" class="breadcrumb">Cadastro</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form class="coll s12" method="POST" th:action="@{/condominio/pessoa/novo}" th:object="${pessoa}" id="form">
		<input type="hidden" th:field="*{idPessoa}" /> 
		<input type="hidden" th:field="*{endereco.idEndereco}" /> 
		<input type="hidden" th:field="*{contato.idContato}" /> 
		<input type="hidden" th:field="*{user.id}" />
		<div class="section">
			<div class="row">
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title card-span">Dados Pessoais</span>
						</div>
						<div class="card-action">

							<div class="row">
								<div class="input-field col m12 s12 l6">
									<i class="material-icons prefix">account_circle</i> <input
										th:classappend="${#fields.hasErrors('nome')} ? invalid" id="icon_prefix" type="text"
										class="validate" th:field="*{nome}" /> <label for="nome" data-error="Nome é obrigatório">Nome</label>
								</div>

								<div class="row">
									<div class="input-field col m12 s12 l6">
										<div>
											<i class="material-icons prefix">accessibility</i> <select th:field="*{tipoPessoa}">
												<option value=""></option>
												<option th:each="tipoPessoa : ${T(com.sycon.model.TipoPessoa).values()}"
													th:value="${tipoPessoa}" th:text="${tipoPessoa.descricao}">
													</option>
											</select> <label id="">Tipo</label>
										</div>

									</div>
								</div>

								<div class="row">
									<div class="input-field col m12 s12 l4">
										<i class="material-icons prefix">account_circle</i> 
										<input th:classappend="${#fields.hasErrors('cpfCnpj')} ? invalid"
											id="icon_prefix" type="text" class="validate" th:field="*{cpfCnpj}" /> 
										<label data-error="Por favor, digite um CPF válido" for="icon_prefix">CPF</label>
									</div>
									<div class="input-field col m12 s12 l4">
										<i class="material-icons prefix">accessibility</i> <input id="icon_prefix" type="text"
											class="validate" th:field="*{rg}" /> <label for="icon_prefix">RG</label>
									</div>
									<!-- 										<div class="input-field s12 col m4"> -->
									<!-- 											<i class="material-icons prefix">date_range</i>  -->
									<!-- 											<input id="dataCadastro" type="text" -->
									<!-- 												class="datepicker" required="required" th:field="*{dataCadastro}" />  -->
									<!-- 												<label for="dataCadastro">Data do Cadastro</label> -->
									<!-- 										</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------------------------- CONTATO ------------------------------------------>
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title card-span">Contato</span>
						</div>
						<div class="card-action">
							<div class="row">
								<div class="input-field col s2">
									<i class="material-icons prefix">local_phone</i> 
									<input th:classappend="${#fields.hasErrors('contato.telefone')}? invalid"
										th:field="*{contato.telefone}" id="icon_prefix" type="text" class="validate" /> <label
										for="icon_prefix">Telefone</label>
								</div>

								<div class="input-field col s2">
									<i class="material-icons prefix">local_phone</i> 
									<input th:classappend="${#fields.hasErrors('contato.celular')}? invalid"
										th:field="*{contato.celular}" id="icon_prefix" type="text" class="validate" /> <label
										for="icon_prefix">Celular</label>
								</div>
								<div class="input-field col s2">
									<i class="material-icons prefix">local_phone</i> 
									<input th:classappend="${#fields.hasErrors('contato.celularAlternativo')}? invalid"
										th:field="*{contato.celularAlternativo}" id="icon_prefix" type="text" class="validate" />
									<label for="icon_prefix">Celular Alternativo</label>
								</div>
								<div class="input-field col s6">
									<i class="material-icons prefix">local_phone</i> 
									<input th:classappend="${#fields.hasErrors('contato.email')}? invalid"
										th:field="*{contato.email}" id="icon_prefix" type="text" class="validate" /> 
									<label data-error="Por favor, digite um e-mail válido" data-success="Certo">Email</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!----------------------------------------------- ENDEREÇO ------------------------------------------>
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title red-text">Endereço</span>
						</div>
						<div class="card-action ho">
							<div class="row">
								<div class="input-field col s2">
									<div th:classappend="${#fields.hasErrors('endereco.cep')}? invalid">
										<i class="material-icons prefix">map</i> <label for="icon_prefix">Cep </label> 
										<input th:field="*{endereco.cep}" id="icon_prefix" type="text" class="validate" name="cep"
											type="text" id="cep" value="" size="10" maxlength="9">
									</div>
								</div>
								<div class="input-field col s6">
									<div th:classappend="${#fields.hasErrors('endereco.logradouro')}? invalid">
										<i class="material-icons prefix">map</i> <label for="icon_prefix">Logradouro</label> 
										<input th:field="*{endereco.logradouro}" name="rua" type="text" id="logradouro" size="60" />
									</div>
								</div>
								<div class="input-field col s2">
									<div th:classappend="${#fields.hasErrors('endereco.numero')}? invalid">
										<i class="material-icons prefix">map</i> <label for="icon_prefix">Número</label> 
										<input th:field="*{endereco.numero}" name="numero" type="text" id="numero" size="60" />
									</div>
								</div>
								<div class="input-field col s2">
									<div th:classappend="${#fields.hasErrors('endereco.complemento')}? invalid">
										<i class="material-icons prefix">location_city</i> <label for="icon_prefix">Complemento</label>
										<input th:field="*{endereco.complemento}" name="numero" type="text" id="numero" size="60" />
									</div>
								</div>
								<div class="input-field col s4">
									<div th:classappend="${#fields.hasErrors('endereco.bairro')}? invalid">
										<i class="material-icons prefix">location_city</i> <label for="icon_prefix">Bairro</label>
										<input th:field="*{endereco.bairro}" class="validate" name="bairro" id="bairro" type="text" />
									</div>
								</div>
								<div class="input-field col s6">
									<div th:classappend="${#fields.hasErrors('endereco.cidade')}? invalid">
										<i class="material-icons prefix">location_city</i> <label for="icon_prefix">Cidade</label>
										<input th:field="*{endereco.cidade}" name="cidade" type="text" id="localidade" size="60" />
									</div>
								</div>
								<div class="input-field col s2">
									<div th:classappend="${#fields.hasErrors('endereco.uf')}? invalid">
										<i class="material-icons prefix">location_city</i> <label for="icon_prefix">Estado
										</label> <input th:field="*{endereco.uf}" name="uf" type="text" id="uf" size="60" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--------------------------------------------- FIM ENDEREÇO -------------------------------------------->
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title card-span">Usuário</span>
						</div>
						<div class="card-action">
							<div class="row">

								<div class="form-group">
									<div class="input-field col s4">
										<input type="text" th:field="*{user.email}" placeholder="E-mail" class="form-control" />
										<label th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"
											class="validation-message"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="input-field col s4">
										<input type="password" th:field="*{user.password}" placeholder="Senha"
											class="form-control" /> <label th:if="${#fields.hasErrors('user.password')}"
											th:errors="*{user.password}" ></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!----------------------------------------------- BOTÕES ------------------------------------------>
				<div class="col s12 element-position-m">
					<button type="submit" class="waves-effect waves-dark btn blue atual_page">Cadastrar</button>
					<a th:href="@{#!}" class="waves-effect black-text btn white"> 
						<i class="material-icons left">arrow_back</i> Voltar
					</a> 
					<a th:href="@{/condominio/pessoa}" class="waves-effect black-text btn white "> 
						<i class="material-icons left "></i>Cancelar
					</a>
				</div>
				<!--------------------------------------------- FIM BOTẼOS ---------------------------------------->
			</div>
		</div>
	</form>
</section>
</html>