<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<footer class="page-footer">
	<div class="container">
		<div id="rodape-esquerdo" class="fleft">
			<h4>Fale Conosco</h4>
			<p id="rodape_endereco">Rua Domingues, 317 - Centro - São Paulo - SP</p>
			<p id="rodape_telefone">Fone: (11) 3131-3131 / (11) 3131-3131 Celular: (11) 9999-9999</p>
			<p id="rodape_email">
				<a href="mailto:atendimento.sycon@sycon.com">atendimento.sycon@sycon.com</a>
			</p>
		</div>

		<div id="rodape-direito" class="fright">
			<a href="http://validator.w3.org/check?uri=referer" target="_blank"> <img
				src="http://www.modeloubatuba.com.br/web-files/img/ico-w3c.png"
				alt="Valid XHTML 1.0 Transitional" height="48" width="90">

			</a> <a href="http://www.ti-ideal.com/" title="Desenvolvido por TI-Ideal" target="_blank"
				class="png_bg_fix"> <img th:src="@{/vendor/images/new_logo_b.png}">
			</a>
		</div>

	</div>
	<!-- /#rodape -->
	<div class="footer-copyright">
		<div class="container">
			<p>Direitos Reservados a Sycon ® | 2017</p>
		</div>
	</div>
	<!-- /#under_rodape -->

	</div>
</footer>
</html>