<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- INICIO DO MENU -->
<ul id="slide-out" class="side-nav fixed z-depth-2">

	<li class="center no-padding ">
		<div class="indigo #64b5f6 blue lighten-2 white-text" style="height: 180px;">
			<div class="row">
				<img style="margin-top: 8%;" width="100" height="100" th:src="@{/images/user.png}"
					class="circle responsive-img" />

				<p style="margin-top: -2%;">Usuário 01</p>
			</div>
		</div>
	</li>
	
	<li id="dash_dashboard">
		<a class="collapsible-header" th:href="@{/home}"> 
		    <strong>
				<i class='material-icons'>dashboard</i>&nbsp;Painel de Controle
			</strong></a>
	</li>
	
	<ul class="collapsible" data-collapsible="accordion">	

		<li id="dash_products">
			<div id="dash_products_header" class="collapsible-header waves-effect">
				<i class='material-icons'>control_point</i><strong>Cadastros</strong>
			</div>
			<div id="dash_products_body" class="collapsible-body">
				<ul>
					<li id="products_product">
						<a class="waves-effect" style="text-decoration: none;" th:href="@{/fisica/novo}">
						Pessoa Física</a>						
						<a class="waves-effect" style="text-decoration: none;" th:href="@{juridica/add}">
						Fornecedor</a>
						<a class="waves-effect" style="text-decoration: none;" href="#!">Unidade</a> <a
							class="waves-effect" style="text-decoration: none;" href="#!">Veículo</a>
					</li>
				</ul>
			</div>
		</li>
		
		<li id="dash_products">
			<div id="dash_products_header" class="collapsible-header waves-effect">
				<i class='material-icons'>search</i><strong>Consultas</strong>
			</div>
			<div id="dash_products_body" class="collapsible-body">
				<ul>
					<li id="products_product">
						<a class="waves-effect" style="text-decoration: none;" th:href="@{/fisica}">Pessoa
							Física</a> <a class="waves-effect" style="text-decoration: none;" th:href="@{juridica/add}">Fornecedor</a>
						<a class="waves-effect" style="text-decoration: none;" href="#!">Unidade</a> <a
							class="waves-effect" style="text-decoration: none;" href="#!">Veículo</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</ul>
<!--  FIM DO MENU -->
</html>