<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!--  Scripts-->
<script th:src="@{/vendor/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/vendor/js/materialize.js}"></script>
<script th:src="@{/vendor/js/jquery.maskMoney.js}"></script>
<script th:src="@{/vendor/js/init.js}"></script>
<script th:src="@{/javascript/financeiro.js}"></script>
<script th:src="@{/javascript/form.js}"></script>
<th:block layout:fragment="javascript-extra"/>


</html>