<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--Import Google Icon Font-->
<link rel="icon" href="../static/images/favicon.png" />

<!-- FONTES  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!--Import materialize.css-->
<link th:href="@{/materialize/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection" />

<!-- CSS  -->
<link rel="stylesheet" th:href="@{/vendor/css/estilo.css}" />

</html>