<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/materialize/js/jquery.maskMoney.min.js}"></script>
<script th:src="@{/materialize/js/materialize.js}"></script>
<script th:src="@{/vendor/images/new_logo_b.png}"></script>
<script th:src="@{/vendor/js/util.js}"></script>
<script th:src="@{/vendor/js/js.js}"></script>
<th:block layout:fragment="javascript-extra"/>



</html>